
@font-face {
    font-family: circe;
    src: url(fonts/circe.ttf);  
}
@font-face {
    font-family: plumb;
    src: url(fonts/plumb-regular.otf);  
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "circe", "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    color: #ffffff;
}
/* div {
    border: 1px solid yellow;
} */
h1{
    font-family:  "plumb", "PT Sans", "Arial", sans-serif;
    font-size: 64px;
    font-weight: 700;
}
h2 {
    font-family:  "plumb", "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 500; 
}
h3 {
    font-family:  "plumb", "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 500;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.top{
    background-image: url('images/bgc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 800px;
}

 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #ffffff;
    height: 90px;
    align-items: center;
 }
 nav a {
    text-decoration: none;
    color: #ffffff;
}
.main-menu {
    list-style: none;
    display:  flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-menu li {
    margin-right: 30px;
}

.search .img-search {
    margin-right: 70px;
    
}
.search .img-lang {
    margin-right: 11px;
}
.about-expo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    /* padding-top: 150px; */
}

.slider {
    align-self: center;
    width: 50%;
    padding-bottom: 50px;
}
.slider a {
    text-decoration: none;
    color: #ffffff;
}
.slider .big-text {
    font-size: 24px;
    margin: 35px 0 25px 0;
}
.link-to-details::after {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    content: url('images/arrow.png');
}
.main-sections{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    padding-top: 330px;

}
.main-sections a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.main-sections h3 {
    margin-bottom: 15px;
}
.main-sections>div {
    margin-bottom: 30px;
    width: 30%;
    padding: 30px 40px;
} 
.main-sections>div:nth-child(odd) {
    /* border: 1px solid black; */
    margin-left: 15px;
    margin-right: 30px;
}
.event-calendar{
    background-color: #2378FC;
}
.online-request{
    background-color: #FFC41E;
}
.route{
    background-color: #30BCC9;
}
.infrastructure{
    background-color: #F6404F;
}
.for-whom {
    background-color: #2378FC;   
    padding: 75px 0;  
}

.for-whom-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    flex-wrap: wrap; 
}
.for-whom li{
list-style: none;
margin-bottom: 15px;
}
.for-whom .list {
    flex-basis: 200px;
}
.for-whom li:first-child{
    margin-top: 30px;
    }
.for-whom a{
 text-decoration: none;    
 color: #ffffff;
 font-weight: 400;

}
.for-whom a:hover{
    color:#FFC41E;
    font-weight: 400;
text-decoration: underline;
   }
   
.events {
    background-color: #FFC41E;
    padding-bottom: 80px;
}

.events h2 {
color: #2E373B;
}

.events-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.events-header a{ 
    color: #2E373B;
    font-family: "plumb", "PT Sans", "Arial", sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.black-arrow a::after {
    margin-left: 15px;
    height: 20px;
    width: 20px;
    content: url('images/arrow_black.png');


}
.events-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event {
    flex-basis: 350px;
    color: #2E373B;
}
.event h3 {
    color: #F6404F;   
}
.event p {
    margin: 10px 0;
}
.event a {
    text-decoration: none;
}
.news {
    background-color: #FAF3E3;
}
.news-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
    color: #2E373B;
}
.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.benefit {
    margin-bottom: 60px;
}
.news-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    
}
.news-header a {
    color: #2E373B;
    font-size: 21px;
}

.blockVK {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    width: 50%;
}
.newsVK {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.newsVK img {
    margin-right: 20px;
}
.newsVK a {
    text-decoration: none;
    color: #2E373B;
}
.dataVK {
    color: #F6404F;
}
.descriptionVK {
    font-family:  "plumb", "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 500;
}
footer {
    background-color: #30BCC9;
    padding-top: 60px;
}
footer ul {
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #E0E0E0;
    font-size: 14px;
}
.footer-flex{
    height: 400px;
    
 display: flex;
 flex-direction: column;
 align-items: stretch;
 flex-wrap: wrap;

}
.footer-flex .list{    
    width: 20%;
    margin-bottom: 30px;
    margin-right: 30px;
}
.footer-flex .list h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-flex .list p {
    color: #E0E0E0;
    font-size: 14px;
    margin-bottom: 25px;
}
.social-icons {
    display: flex;
    justify-content: space-between;    
}
.input-email {
    display: flex;
    justify-content: space-between;
}
input {
    border: none;
    padding-left: 20px;
    width: 215px;
    height: 40px;
}
input:focus{
    outline: none;
}
button{
    height: 40px;
    width: 40px;
    background-color:  #F6404F;
    background-image: url('images/speech-bubble.png');
    background-repeat: no-repeat;
    background-position: 50% 57%;
    border: none;
    padding: 20px;
}