
@font-face {
    font-family: circe;
    src: url(fonts/circe.ttf);  
}
@font-face {
    font-family: plumb;
    src: url(fonts/plumb-regular.otf);  
}
* {
    padding: 0;
    margin: 0;
}
/* div {
    border: 1px solid yellow;
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-family: "circe", "PT Sans", "Arial", sans-serif;
        font-size: 16px;
        color: #ffffff;
    }
    h1{
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 64px;
        font-weight: 700;
    }
    h2 {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 30px;
        font-weight: 500; 
    }
    h3 {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: 500;
    }
    
    .wrapper {
        max-width: 300px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }


    .top{
        background-image: url('images/bgc.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: auto;
    }
    
     nav {
        /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; */
        border-bottom: 1px solid #ffffff;
        height: auto;

     }
     /* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: left;
    background-color: #2378FC;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color:#FFffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.logo {
    position: relative;
    top: -25px;
    left: 100px;
}
.search{
    display: none;
}
    .main-menu {
        list-style: none;
        display:  none; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-menu li {
        margin-right: 30px;
    }
    
    .search .img-search {
        margin-right: 70px;
        
    }
    .search .img-lang {
        margin-right: 11px;
    }
    .about-expo-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
    }
    
    .slider {
        margin-bottom: 30px;    
    }
    .slider h1 {
        font-size: 21px;    
    }
    .slider .big-text {
        font-size: 18px;
        margin: 25px 0 15px 0;
    }
    .link-to-details::after {
        margin-left: 10px;
        height: 20px;
        width: 20px;
        content: url('images/arrow.png');
    }
    .main-sections{
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        flex-wrap: wrap;
    
    }
    .main-sections a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
    }
    .main-sections h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .main-sections>div {
        margin-bottom: 20px;
        width: 100%;
        padding: 15px 20px;
    } 
    /* .main-sections>div:nth-child(odd) {
        border: 1px solid black;
        margin-left: 15px;
        margin-right: 30px;
    } */
    .for-whom {
        background-color: #2378FC;   
        padding: 75px 0;  
    }
    
    .for-whom-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        flex-wrap: wrap; 
    }
    .for-whom li{
    list-style: none;
    margin-bottom: 15px;
    }
    .for-whom .list {
        flex-basis: 200px;
    }
    .for-whom li:first-child{
        margin-top: 30px;
    }
    .for-whom a{
        text-decoration: none;    
        color: #ffffff;
        font-weight: 400;
    
    }
    .for-whom a:hover{
        color:#FFC41E;
        font-weight: 400;
        text-decoration: underline;
    }      
    .events {
        padding-bottom: 80px;
    } 
    .events-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    .events-header a{ 
        color: #2E373B;
        font-family: "plumb", "PT Sans", "Arial", sans-serif;
        font-weight: 500;
        font-size: 21px;
    }
    .black-arrow a::after {
        margin-left: 15px;
        height: 20px;
        width: 20px;
        content: url('images/arrow_black.png');
    }
    .events-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .event {
        flex-basis: 350px;
    }
    .event p {
        margin: 10px 0;
    }
    .news-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 80px 0;
        color: #2E373B;
    }
    .left-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .benefit {
        margin-bottom: 60px;
    }
    .news-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
    }
    .news-header a {
        font-size: 21px;
    }
    .blockVK {
        display: flex;
        flex-direction: column;
       justify-content: space-between;
        width: 50%;
    }
    .newsVK {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .newsVK img {
        margin-right: 20px;
    }
    .descriptionVK {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: 500;
    }
    footer {
        padding-top: 60px;
    }
    footer ul a{
        text-decoration: none;
        color: #E0E0E0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    footer ul li{
        margin-bottom: 10px;
    }
    .footer-flex{
        height: 400px;
        
     display: flex;
     flex-direction: column;
     align-items: stretch;
     flex-wrap: wrap;
    
    }
    .footer-flex .list{    
        width: 20%;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .footer-flex .list h2 {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .footer-flex .list p {
        color: #E0E0E0;
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 20px;
    }
    .social-icons {
        display: flex;
        justify-content: space-between;    
    }
    .input-email {
        display: flex;
        justify-content: space-between;
    }
    input {
        border: none;
        padding-left: 20px;
        width: 215px;
        height: 40px;
    }
    input:focus{
        outline: none;
    }
    button{
        height: 40px;
        width: 40px;
        background-color:  #F6404F;
        background-image: url('images/speech-bubble.png');
        background-repeat: no-repeat;
        background-position: 50% 57%;
        border: none;
        padding: 20px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-family: "circe", "PT Sans", "Arial", sans-serif;
        font-size: 16px;
        color: #ffffff;
    }
    h1{
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 64px;
        font-weight: 700;
    }
    h2 {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 30px;
        font-weight: 500; 
    }
    h3 {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: 500;
    }
    
    .wrapper {
        max-width: 800px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }


    .top{
        background-image: url('images/bgc.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: auto;
    }
    
     nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid #ffffff;
        height: 90px;
        align-items: center;
     }
     .hamburger-menu {
        display: none;
    }

    .main-menu {
        list-style: none;
        display:  flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-menu li {
        margin-right: 30px;
    }
    
    .search .img-search {
        margin-right: 70px;
        
    }
    .search .img-lang {
        margin-right: 11px;
    }
    .about-expo-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .slider {
        width: 50%;
        margin-top: 0; 
        padding-top: 50px;
    }
    .slider h1 {
        font-size: 56px;    
    }
    .slider .big-text {
        font-size: 24px;
        line-height: 35px;
        margin: 35px 0 25px 0;
    }
    .link-to-details::after {
        margin-left: 10px;
        height: 20px;
        width: 20px;
        content: url('images/arrow.png');
    }
    .main-sections{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-wrap: wrap;
        padding-top: 200px;
    
    }
    .main-sections a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
    }
    .main-sections h3 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .main-sections>div {
        margin-bottom: 30px;
        width: 35%;
        padding: 20px 20px;
    } 
    .main-sections>div:nth-child(odd) {
        /* border: 1px solid black;  */
        margin-left: 5px;
        margin-right: 20px;
    }
    .for-whom {
        background-color: #2378FC;   
        padding: 75px 0;  
    }
    
    .for-whom-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        flex-wrap: wrap; 
    }
    .for-whom li{
    list-style: none;
    margin-bottom: 15px;
    }
    .for-whom .list {
        flex-basis: 200px;
    }
    .for-whom li:first-child{
        margin-top: 30px;
    }
    .for-whom a{
        text-decoration: none;    
        color: #ffffff;
        font-weight: 400;
    
    }
    .for-whom a:hover{
        color:#FFC41E;
        font-weight: 400;
        text-decoration: underline;
    }      
    .events {
        padding-bottom: 80px;
    } 
    .events-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    .events-header a{ 
        color: #2E373B;
        font-family: "plumb", "PT Sans", "Arial", sans-serif;
        font-weight: 500;
        font-size: 21px;
    }
    .black-arrow a::after {
        margin-left: 15px;
        height: 20px;
        width: 20px;
        content: url('images/arrow_black.png');
    }
    .events-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .event {
        flex-basis: 350px;
    }
    .event p {
        margin: 10px 0;
    }
    .news-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 80px 0;
        color: #2E373B;
    }
    .left-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .benefit {
        margin-bottom: 60px;
    }
    .news-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
    }
    .news-header a {
        font-size: 21px;
    }
    .blockVK {
        display: flex;
        flex-direction: column;
       justify-content: space-between;
        width: 50%;
    }
    .newsVK {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .newsVK img {
        margin-right: 20px;
    }
    .descriptionVK {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: 500;
    }
    footer {
        padding-top: 60px;
    }
    footer ul a{
        text-decoration: none;
        color: #E0E0E0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    footer ul li{
        margin-bottom: 10px;
    }
    .footer-flex{
        height: 400px;
        
     display: flex;
     flex-direction: column;
     align-items: stretch;
     flex-wrap: wrap;
    
    }
    .footer-flex .list{    
        width: 20%;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .footer-flex .list h2 {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .footer-flex .list p {
        color: #E0E0E0;
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 20px;
    }
    .social-icons {
        display: flex;
        justify-content: space-between;    
    }
    .input-email {
        display: flex;
        justify-content: space-between;
    }
    input {
        border: none;
        padding-left: 20px;
        width: 215px;
        height: 40px;
    }
    input:focus{
        outline: none;
    }
    button{
        height: 40px;
        width: 40px;
        background-color:  #F6404F;
        background-image: url('images/speech-bubble.png');
        background-repeat: no-repeat;
        background-position: 50% 57%;
        border: none;
        padding: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-family: "circe", "PT Sans", "Arial", sans-serif;
        font-size: 16px;
        color: #ffffff;
    }
    h1{
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 64px;
        font-weight: 700;
    }
    h2 {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 30px;
        font-weight: 500; 
    }
    h3 {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: 500;
    }
    
    .wrapper {
        max-width: 1120px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }


    .top{
        background-image: url('images/bgc.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: auto;
    }
    
     nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid #ffffff;
        height: 90px;
        align-items: center;
     }
     .hamburger-menu {
         display: none;
     }
    .main-menu {
        list-style: none;
        display:  flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-menu li {
        margin-right: 30px;
    }
    
    .search .img-search {
        margin-right: 70px;
        
    }
    .search .img-lang {
        margin-right: 11px;
    }
    .about-expo-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .slider {
        width: 50%;
        margin-top: 0; 
        padding-top: 120px;
    }
    .slider h1 {
        font-size: 64px;    
    }
    .slider .big-text {
        font-size: 24px;
        line-height: 35px;
        margin: 35px 0 25px 0;
    }
    .link-to-details::after {
        margin-left: 10px;
        height: 20px;
        width: 20px;
        content: url('images/arrow.png');
    }
    .main-sections{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-wrap: wrap;
        padding-top: 290px;
    
    }
    .main-sections a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
    }
    .main-sections h3 {
        margin-bottom: 15px;
    }
    .main-sections>div {
        margin-bottom: 30px;
        width: 30%;
        padding: 30px 40px;
    } 
    .main-sections>div:nth-child(odd) {
        /* border: 1px solid black; */
        margin-left: 15px;
        margin-right: 30px;
    }
    .for-whom {
        background-color: #2378FC;   
        padding: 75px 0;  
    }
    
    .for-whom-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        flex-wrap: wrap; 
    }
    .for-whom li{
    list-style: none;
    margin-bottom: 15px;
    }
    .for-whom .list {
        flex-basis: 200px;
    }
    .for-whom li:first-child{
        margin-top: 30px;
    }
    .for-whom a{
        text-decoration: none;    
        color: #ffffff;
        font-weight: 400;
    
    }
    .for-whom a:hover{
        color:#FFC41E;
        font-weight: 400;
        text-decoration: underline;
    }      
    .events {
        padding-bottom: 80px;
    } 
    .events-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    .events-header a{ 
        color: #2E373B;
        font-family: "plumb", "PT Sans", "Arial", sans-serif;
        font-weight: 500;
        font-size: 21px;
    }
    .black-arrow a::after {
        margin-left: 15px;
        height: 20px;
        width: 20px;
        content: url('images/arrow_black.png');
    }
    .events-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .event {
        flex-basis: 350px;
    }
    .event p {
        margin: 10px 0;
    }
    .news-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 80px 0;
        color: #2E373B;
    }
    .left-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .benefit {
        margin-bottom: 60px;
    }
    .news-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
    }
    .news-header a {
        font-size: 21px;
    }
    .blockVK {
        display: flex;
        flex-direction: column;
       justify-content: space-between;
        width: 50%;
    }
    .newsVK {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .newsVK img {
        margin-right: 20px;
    }
    .dataVK {
        margin-bottom: 15px;
    }
    .descriptionVK {
        font-family:  "plumb", "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: 500;
    }
    footer {
        padding-top: 60px;
    }
    footer ul a{
        text-decoration: none;
        color: #E0E0E0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    footer ul li{
        margin-bottom: 10px;
    }
    .footer-flex{
        height: 400px;
        
     display: flex;
     flex-direction: column;
     align-items: stretch;
     flex-wrap: wrap;
    
    }
    .footer-flex .list{    
        width: 20%;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .footer-flex .list h2 {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .footer-flex .list p {
        color: #E0E0E0;
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 20px;
    }
    .social-icons {
        display: flex;
        justify-content: space-between;    
    }
    .input-email {
        display: flex;
        justify-content: space-between;
    }
    input {
        border: none;
        padding-left: 20px;
        width: 215px;
        height: 40px;
    }
    input:focus{
        outline: none;
    }
    button{
        height: 40px;
        width: 40px;
        background-color:  #F6404F;
        background-image: url('images/speech-bubble.png');
        background-repeat: no-repeat;
        background-position: 50% 57%;
        border: none;
        padding: 20px;
    }

}
nav a {
    text-decoration: none;
    color: #ffffff;
}
.slider a {
    text-decoration: none;
    color: #ffffff;
}
.event-calendar{
    background-color: #2378FC;
}
.online-request{
    background-color: #FFC41E;
}
.route{
    background-color: #30BCC9;
}
.infrastructure{
    background-color: #F6404F;
}
.events {
    background-color: #FFC41E;
}
.event {
    color: #2E373B;
}
.events h2 {
    color: #2E373B;
}
.event h3 {
    color: #F6404F;   
}
.event a {
    text-decoration: none;
}
.news {
    background-color: #FAF3E3;
}
.news-header a {
    color: #2E373B;
}
.newsVK a {
    text-decoration: none;
    color: #2E373B;
}
.dataVK {
    color: #F6404F;
}
footer {
    background-color: #30BCC9;
}
footer ul {
    list-style: none;
}
